{
  "branches": [
    "master",
    {
      "name": "develop",
      "prerelease": true
    },
    {
      "name": "alpha",
      "prerelease": true
    },
    {
      "name": "beta",
      "prerelease": true
    }
  ],
  "plugins": [
    "@semantic-release/commit-analyzer",
    "@semantic-release/release-notes-generator",
    [
      "@semantic-release/exec",
      {
        "prepareCmd": "bash bin/build-distribution.sh build/release.zip"
      }
    ],
    [
      "@semantic-release/github",
      {
        "assets": [
          {
            "path": "build/release.zip",
            "name": "rsreg-client-v${nextRelease.version}.zip",
            "label": "RNIDS RsReg Client v${nextRelease.version}"
          }
        ]
      }
    ]
  ]
}
